* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%; }

body {
  background-color: #fcfcfc;
  color: #141517;
  font-family: sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 140%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

a {
  display: inline-block;
  text-decoration: none;
  color: #141517; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 10rem);
  grid-template-rows: repeat(1, 72.4rem);
  margin: 0rem auto; }

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  height: 100%;
  padding: 2.5rem 1rem; }

.img {
  grid-column: 2 / span 5;
  grid-row: 1 / -1; }
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.text {
  grid-column: 7 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0rem 10rem; }

span {
  display: inline-block;
  font-size: 2.2rem;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 2.5rem; }
  span::after, span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: .2rem;
    width: 100%;
    background-color: #141517; }
  span::after {
    right: -110%; }
  span::before {
    left: -110%; }

h1 {
  font-size: 5.8em;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  font-weight: 700;
  line-height: 100%; }

.form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 7.5rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15); }

input[type="email"] {
  flex: 3;
  padding: 1rem 1.6rem;
  border: none;
  outline-width: 0;
  background-color: #b1b1b1; }

button {
  flex: 1;
  padding: 1rem 1.6rem;
  outline-width: 0;
  border: none;
  cursor: pointer;
  color: #fff;
  background-color: #141517;
  text-transform: uppercase; }

::placeholder {
  color: #141517; }
